/* Reset/Basic Setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #0e0e0e;
  color: #ffffff;
}

.parallax-wrapper {
  position: relative;
  width: 400px;        /* 200px × 4 */
  height: 900px;       /* 450px × 4 */
  margin: 0 auto;
  overflow: hidden;
}

.city-background,
.building-facade,
.billboard-base,
.billboard-contents,
.billboard-play,
.billboard-back,
.billboard-next {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 900px;
  image-rendering: pixelated;
}

/* Layer ordering */
.city-background {
  z-index: 0;
  transform: translateY(0px);
}

.building-facade {
  z-index: 1;
}

.billboard-base {
  z-index: 2; /* on top of the building */
}

.billboard-contents,
.billboard-play,
.billboard-back,
.billboard-next {
  z-index: 3; /* on top of billboard frame */
}

.play-button,
.back-button,
.next-button {
  position: absolute;
  cursor: pointer;
  /*background-color: rgba(50,50,50,0.3);*/
}

#play-button,
.parallax-wrapper {
  user-select: none;
  -moz-user-select: none;     /* Firefox */
  -webkit-user-select: none;  /* Chrome, Safari */
  -ms-user-select: none;      /* Edge */
}